:root{

--primary-color: #8c7ae6
}


footer{

    background-color: var(--primary-color);
    color: rgb(255, 255, 255) ;
    border-radius: 20px;
    background: linear-gradient(to right, #001f3f, #0074D9);
    padding: 1rem;
    border-width: 5px;
    border-color: rgb(168, 168, 132);
    border-style: solid;
    

}
header h2{
   color: aliceblue; 
}

.sample{

 text-align: center;

 border-bottom: rgb(178, 178, 151) solid 2px;




}
#he{
    font-size:x-large;
    font-weight: 200px;
    margin: 0;
    color: rgb(246, 226, 178);
    margin-bottom: 8px;
    

}

#ha{
    font-size:medium;
    color: #dbd9b6;
    margin: 0;
    margin-bottom: 10px;

}